
@{
    ViewBag.Title = "Contact";
    ViewData["Title"] = "Contact Us";
    ViewData["sub_link"] = "Contact Us";
}
@Html.Partial("_banner")
<!-- Contact 1 start -->
<div class="contact-1 content-area-3">
    <div class="container">
        <div class="main-title">
            <h1><span class="border2"></span> Contact Us <span class="border2"></span></h1>
            <p>If you have any problem, contact us right here!!!.</p>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <form action="#" method="GET" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group name">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group email">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group subject">
                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group number">
                                <input type="text" name="phone" class="form-control" placeholder="Number">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group message">
                                <textarea class="form-control" name="message" placeholder="Write message"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="send-btn">
                                <button type="submit" class="btn btn-color btn-md btn-message">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="contact-info">
                    <div class="media">
                        <i class="flaticon-phone"></i>
                        <div class="media-body align-self-center">
                            <h5 class="mt-0">Phone Number</h5>
                            <p><a href="tel:0477-0477-8556-552">0477 8556 552</a></p>
                        </div>
                    </div>
                    <div class="media">
                        <i class="flaticon-mail"></i>
                        <div class="media-body align-self-center">
                            <h5 class="mt-0">Email Address</h5>
                            <p><a href="#">info@themevessel.com</a></p>
                        </div>
                    </div>
                    <div class="media">
                        <i class="flaticon-internet"></i>
                        <div class="media-body align-self-center">
                            <h5 class="mt-0">Web:</h5>
                            <p><a href="#">info@themevessel.com</a></p>
                        </div>
                    </div>
                    <div class="media mb-0">
                        <i class="flaticon-fax"></i>
                        <div class="media-body align-self-center">
                            <h5 class="mt-0">Fax:</h5>
                            <p><a href="tel:0477-0477-8556-552">0477 8556 552</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact 1 end -->
<!-- Google map start -->
<div class="section">
    <div class="map">
        <div id="contactMap" class="contact-map"></div>
    </div>
</div>
<!-- Google map end -->
