<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>@ViewData["Title"]</h1>
            <ul class="breadcrumbs">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">@ViewData["sub_link"]</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->
