<div class="col-lg-4 col-md-12">
     <div class="sidebar">
          <!-- Search box start -->
          <div class="widget search-box">
               <h5 class="sidebar-title">Search Blog</h5>
               <div class="search-area">
                    <select class="selectpicker search-fields" name="location">
                         <option value="name">Name</option>
                         <option value="author">Author</option>
                         <option value="tag">Tag</option>
                         <option value="category">Category</option>
                    </select>
               </div>
               <form class="form-search" method="GET">
                    <input type="text" class="form-control" placeholder="Search">
                    <script>
                         var search_tag = $("#selectpicker search-fields").val();
                         switch (search_tag) {
                              case "name":
                                   $("#form-control").val() = ViewBag.name;
                                   break;
                              case "author":
                                   $("#form-control").val() = ViewBag.author;
                                   break;
                              case "tag":
                                   $("#form-control").val() = ViewBag.tag;
                                   break;
                              case "category":
                                   $("#form-control").val() = ViewBag.category;
                                   break;
                              default:
                                   //$("#form-control").val() = ViewBag.name;
                                   break;
                         }
                    </script>
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
               </form>
          </div>
          <!-- Recent posts start -->
          <div class="widget recent-posts">
               <h4 class="sidebar-title">Recent Posts</h4>
               <div class="media mb-4">
                    <a class="pr-3" href="tours-detail.html">
                         <img src="/assets/img/sub-tours/sub-tours.jpg" alt="sub-tours">
                    </a>
                    <div class="media-body align-self-center">
                         <h5>
                              <a href="tours-detail.html">Australia Sydney City</a>
                         </h5>
                         <div class="listing-post-meta">
                              Oct 27, 2021 | <a href="#">Tour</a>
                         </div>
                    </div>
               </div>
               <div class="media mb-4">
                    <a class="pr-3" href="tours-detail.html">
                         <img src="/assets/img/sub-tours/sub-tours-2.jpg" alt="sub-tours">
                    </a>
                    <div class="media-body align-self-center">
                         <h5>
                              <a href="tours-detail.html">Camping and  mountains</a>
                         </h5>
                         <div class="listing-post-meta">
                              Nov 23, 2021 | <a href="#">Tour</a>
                         </div>
                    </div>
               </div>
               <div class="media">
                    <a class="pr-3" href="tours-detail.html">
                         <img src="/assets/img/sub-tours/sub-tours-3.jpg" alt="sub-tours">
                    </a>
                    <div class="media-body align-self-center">
                         <h5>
                              <a href="tours-detail.html">Best Switzerland Tour</a>
                         </h5>
                         <div class="listing-post-meta">
                              Jan 17, 2022 | <a href="#">Tour</a>
                         </div>
                    </div>
               </div>
          </div>
          <!-- Categories start -->
          <div class="widget categories">
               <h5 class="sidebar-title">Categories</h5>
               <ul>
                    <li><a href="#">All<span>(12)</span></a></li>
                    <li><a href="#">News<span>(8)</span></a></li>
                    <li><a href="#">Blog<span>(5)</span></a></li>
                    <li><a href="#">Travel & Tour<span>(63)</span></a></li>
                    <li><a href="#">Tips<span>(23)</span></a></li>
                    <li><a href="#">Other<span>(7)</span></a></li>
               </ul>
          </div>
          <!-- Social list start -->
          <div class="social-list widget clearfix">
               <h5 class="sidebar-title">Follow Us</h5>
               <ul>
                    <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
               </ul>
          </div>
          <!-- Tags start -->
          <div class="widget tags clearfix">
               <h5 class="sidebar-title">Tags</h5>
               <ul class="tags">
                    <li><a href="#">News</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">Traveling</a></li>
                    <li><a href="#">Ideas</a></li>
                    <li><a href="#">Theme</a></li>
                    <li><a href="#">City Guide</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Outdoor</a></li>
                    <li><a href="#">UI-UX</a></li>
               </ul>
          </div>
     </div>
</div>



