@{
    ViewBag.Title = "Destination_mansory";
    ViewData["sub_link"] = "Destination Mansory";
}
@Html.Partial("_banner")
<!-- Destination strat -->
<div class="destination content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                   
                            <div class="col-sm-12 col-lg-12 col-pad">

                                <div class="category">
                                    <div class="category_bg_box cat-1-bg">
                                        <div class="category-overlay">
                                            <div class="category-content">
                                                <h5 class="category-title">24 Tours</h5>

                                                <h4 class="category-subtitle"><i class="flaticon-pin"> TenDiaDanh</i></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                   
                    <div class="col-sm-12 col-lg-12 col-pad">

                        <div class="category">
                            <div class="category_bg_box cat-1-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h5 class="category-title">24 Tours</h5>         

                                        <h4 class="category-subtitle"><i class="flaticon-pin"></i> HaNoi </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>}
                    <div class="col-sm-12 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-5-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h5 class="category-title">77 Tours</h5>
                                        <h4 class="category-subtitle"><i class="flaticon-pin"></i> Thailand</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-pad">
                <div class="category">
                    <div class="category_bg_box category_long_bg cat-8-bg">
                        <div class="category-overlay">
                            <div class="category-content">
                                <h5 class="category-title">54 Tours</h5>
                                <h4 class="category-subtitle"><i class="flaticon-pin"></i> New york City</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-3-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h5 class="category-title">182 Tours</h5>
                                        <h4 class="category-subtitle"><i class="flaticon-pin"></i> Sydney</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-2-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h5 class="category-title">242Tours</h5>
                                        <h4 class="category-subtitle"><i class="flaticon-pin"></i> Paris</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-pad">
                <div class="category">
                    <div class="category_bg_box category_long_bg cat-6-bg">
                        <div class="category-overlay">
                            <div class="category-content">
                                <h5 class="category-title">54 Tours</h5>
                                <h4 class="category-subtitle"><i class="flaticon-pin"></i> Paris</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-3-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h5 class="category-title">182 Tours</h5>
                                        <h4 class="category-subtitle"><i class="flaticon-pin"></i> Sydney</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-2-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h5 class="category-title">242Tours</h5>
                                        <h4 class="category-subtitle"><i class="flaticon-pin"></i> Paris</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-pad">
                <div class="category">
                    <div class="category_bg_box category_long_bg cat-7-bg">
                        <div class="category-overlay">
                            <div class="category-content">
                                <h5 class="category-title">54 Tours</h5>
                                <h4 class="category-subtitle"><i class="flaticon-pin"></i> Rome</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pagination-box mt-15">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Destination end -->
