.btn-theme{
    background: #0dcdbd;
    border: solid 1px #0dcdbd;
    text-transform: uppercase;
    font-weight: 500;
}

.pages-404 .btn-light:hover {
    color: #fff;
    background: #0dcdbd;
    border: solid 1px #0dcdbd;
}

.btn-theme:hover{
    color: #FFF;
    background: #09b7a9;
    border: solid 1px #09b7a9;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link sup{
    background: #0dcdbd;
    color: #fff;
}

.slick-arrow-buton i{
    color: #0dcdbd;
}

.javaScript-behavior .list-group-item:hover {
    background-color: #0dcdbd;
    color: #fff;
}

.leaflet-container a.leaflet-popup-close-button{
    color: #0dcdbd;
}

.category-subtitle i{
    color: #0dcdbd;
}

.item-info h6 i{
    color: #0dcdbd;
}

.modal-right-content .bullets li i{
    color: #0dcdbd;
}

.tour-item .detail .location a i{
    color: #0dcdbd;
}

.form-inline a:hover{
    color: #0dcdbd;
}

.question .contact-info li i{
    color: #0dcdbd;
}

.tour-infomation ul li i{
    color: #0dcdbd;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #0dcdbd;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #0dcdbd;
}

.daterangepicker .drp-buttons .btn-primary{
    background-color: #0dcdbd;
    border-color: #0dcdbd;
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
    border: solid #0dcdbd;
}

.daterangepicker .drp-buttons .btn-primary:hover{
    background-color: #09b7a9;
    border-color: #09b7a9;
}

.show-more-options, .show-more-options:hover {
    color: #0dcdbd!important;
}

.overview .btn-border:hover{
    border: solid 2px #09b7a9;
    background: #09b7a9;
}

.categories ul li a:hover{
    color: #0dcdbd;
}

.btn-md-outline{
    border: solid 2px #0dcdbd;
    color: #0dcdbd;
}

.btn-md-outline:hover{
    background: #09b7a9;
    color: #fff;
    border: solid 2px #09b7a9;
}

.daterangepicker .month{
    color: #0dcdbd;
    font-size: 17px;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #0dcdbd;
    border-color: #0dcdbd;
}

#page_scroller {
    background: #0dcdbd;
}

.setting-button {
    color: #0dcdbd;
}

.overview .btn-border{
    color: #0dcdbd;
    border: solid 2px #0dcdbd;
}

.overview .btn-border:hover{
    border: solid 2px #09b7a9;
    background: #09b7a9;
}

.banner-bg-color{
    background: #09b7a9;
}

.btn-white-sm-outline:hover{
    background: #09b7a9;
    border: solid 1px #09b7a9;
}

.btn-white-lg-outline:hover{
    background: #09b7a9;
    border: solid 2px #09b7a9;
    color: #fff;
}

.btn-color{
    background: #0dcdbd;
    border-color: #0dcdbd;
}

.btn-color:hover{
    background: #09b7a9;
    border-color: #09b7a9;
}

.btn-color:not([disabled]):not(.disabled).active, .btn-color:not([disabled]):not(.disabled):active, .show > .btn-color.dropdown-toggle {
    color: #fff;
    background-color: #09b7a9;
    border-color: #09b7a9;
    box-shadow: none;
}

.btn-border{
    color: #0dcdbd;
    border: solid 1px #0dcdbd;
}

.btn-border:not([disabled]):not(.disabled).active, .btn-border:not([disabled]):not(.disabled):active, .show > .btn-border.dropdown-toggle {
    color: #fff;
    background-color: #0dcdbd;
    border-color: #0dcdbd;
    box-shadow: none;
}

.leaflet-container a {
    color: #0dcdbd;
}

.btn-border:hover{
    color: #fff;
    border: solid 1px #09b7a9;
    background: #09b7a9;
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background: #0dcdbd;
}

.megamenu-area .dropdown-item:hover {
    color: #0dcdbd;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #0dcdbd;
}

.main-header .dropdown-menu a:hover {
    background: transparent;
    color: #0dcdbd;
}

.sub-banner .breadcrumbs li a:hover {
    color: #0dcdbd;
}

.sub-banner-2 .breadcrumbs li a:hover {
    color: #0dcdbd;
}

.counters .counter-box h1{
    color: #0dcdbd;
}

.comment-meta a {
    color: #0dcdbd;
}

.blog-item-2 .detail .post-meta span a i {
    color: #0dcdbd;
}

.option-bar h4 {
    color: #0dcdbd;
}

.option-bar .heading-icon {
    background: #0dcdbd;
}

.option-bar .heading-icon .icon-design {
    color: #0dcdbd;
}

.carousel-indicators .active {
    background-color: #0dcdbd!important;
}

.change-view-btn {
    color: #0dcdbd;
    border: solid 1px #0dcdbd;
}

.active-view-btn {
    background: #0dcdbd;
    border: solid 1px #0dcdbd;
}

.change-view-btn:hover {
    border: solid 1px #0dcdbd;
    background: #0dcdbd;
}

.overlay-link:hover{
    background: #0dcdbd;
    border: 2px solid #0dcdbd;
}

.review-summary{
    background: #0dcdbd;
}

.contact-1 .contact-info .media i {
    color: #0dcdbd;
}

.multi-carousel-indicator:hover{
    background: #0dcdbd;
}

.tour-item .plan-price{
    color: #0dcdbd;
}

.multi-carousel .leftLst.over:hover{
    background: #0dcdbd!important;
}

.tour-item .detail .title a{
    color: #0dcdbd;
}

.tour-item-3 .detail .title a {
    color: #0dcdbd;
}

.blog-item-2 .date-box {
    background: #0dcdbd;
}

.itinerary .number {
    background: #0dcdbd;
}

.services-info-4 i{
    color: #0dcdbd;
    border: dashed 1px #0dcdbd;
}

.services-info-3 i{
    color: #fff;
    background: #0dcdbd;;
}

.attachments a:hover {
    color: #0dcdbd;
}

.faq-accordion .card-header:before {
    color: #0dcdbd;
}

.intro-section {
    background: #0dcdbd;
}

.search-area .selectBox-options, .selectBox-options li a:hover{
    color: #0dcdbd!important;
}

.close-offcanvas {
    color: #0dcdbd
}

.modal-left-content .control{
    background: #0dcdbd;
}

.modal-right-content .price {
    color: #0dcdbd;
}

.carousel-indicators .active {
    background-color: #0dcdbd;
}

.pricing.featured .listing-badges .featured {
    background: #0dcdbd;
}

.form-content-box .sub-footer span a {
    color: #0dcdbd;
    font-weight: 600;
}

.footer .form-inline .btn {
    background: #0dcdbd;
}

.btn-read-more {
    color: #0dcdbd;
}

.b-btn {
    color: #0dcdbd;
}

.tab-box-2 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #0dcdbd;
}

.pagination > li > .active {
    background: #0dcdbd;
}

.pagination > li > a:hover{
    background: #0dcdbd;
}

.tags ul li a:hover{
    background: #0dcdbd;
}

.tour-item-3 .detail .location a i{
    color: #0dcdbd;
}

.form-check a{
    color: #0dcdbd;
}

.tour-item .plan-price{
    color: #0dcdbd;
}

.tour-item-3 .plan-price {
    color: #0dcdbd;
}

.form-check a:hover{
    color: #09b7a9;
}

.about-text ul li i {
    color: #0dcdbd;
}

.amenities ul li i {
    color: #0dcdbd;
}

.filteriz-navigation li:hover {
    background: #0dcdbd;
    color: #fff;
}

li.active.btn.filtr-button.filtr {
    color: #fff;
    background: #0dcdbd;
}

.brand-box-2 h5 a{
    color: #0dcdbd;
}

.min-value {
    color: #0dcdbd;
}

.max-value {
    color: #0dcdbd;
}

.range-slider .ui-slider .ui-slider-handle {
    background: #0dcdbd;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #0dcdbd;
}

.range-slider .ui-widget-header {
    background-color: #0dcdbd;
}

.map-marker:hover {
    background-color: #0dcdbd;
    cursor: pointer;
}
.map-marker:hover:before {
    border-color: #0dcdbd transparent transparent transparent;
}

.map-marker.featured:hover {
    background-color: #0dcdbd;
}

.map-marker.featured:hover:before {
    border-color: #0dcdbd transparent transparent transparent;
}

.map-marker .icon {
    border: 3px solid #0dcdbd;
}

.marker-active .map-marker {
    background-color: #0dcdbd;
}
.marker-active .map-marker:before {
    border-color: #0dcdbd transparent transparent transparent;
}

.map-properties .address i{
    color: #0dcdbd;
}

.map-properties-btns .border-button-theme{
    color: #0dcdbd; !important;
}

.map-properties-btns .border-button-theme:hover{
    color: #fff !important;
}

.map-properties .map-content h4 a{
    color: #0dcdbd;
}

.bg-active{
    background: #0dcdbd!important;
    color: #fff;
}

.map-properties .map-properties-fetures span i {
    color: #0dcdbd;
}

.dropzone-design:hover {
    border: 2px dashed #0dcdbd;
}

.faq-accordion .card-header a:before {
    color: #0dcdbd;
}

.slick-arrow-buton:hover{
    background: #0dcdbd;
}

/** MEDIA **/
@media (max-width: 992px) {
    .main-header .navbar-expand-lg .navbar-nav .active .nav-link{
        color: #0dcdbd !important;
    }

    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #0dcdbd !important;
    }

    .navbar-light .navbar-toggler {
        color: #0dcdbd;
    }

    .coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
        background: #0dcdbd;
        border-radius: 3px;
    }
}


@media (min-width: 991px) {
    .sticky-header .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #fff !important;
    }

    .sticky-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #fff !important;
        opacity: .8;
    }

    .header-shrink .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #515151 !important;
    }

    .header-shrink .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #515151 !important;
    }

    .header-shrink .btn-white-sm-outline {
        color: #0dcdbd;
        border: solid 2px #0dcdbd;
    }
}





