@{
    ViewBag.Title = "About";
}

<body id="top">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="page_loader"></div>

    <!-- main header start -->
    <header class="main-header sticky-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light rounded">
                        <a class="navbar-brand logo navbar-brand d-flex mr-auto" href="index.html">
                            <img src="assets/img/logos/black-logo.png" alt="logo">
                        </a>
                        <div class="navbar-collapse collapse w-100" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="tours-grid.html" id="navbarDropdownMenuLink2">Tours</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="destination-mansory.html" id="navbarDropdownMenuLink3">Destinations</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog-post.html" id="navbarDropdownMenuLink4">Blog</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="register.html">Login</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#full-page-search" class="nav-link h-icon">
                                        <i class="flaticon-search"></i>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <button type="button" style="background-color: Transparent;border: none;" class="btn btn-secondary nav-link dropdown-toggle"><i class="fa fa-bars" aria-hidden="true"></i></button>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                        <li><a class="dropdown-item" href="pricing-tables.html">Pricing Tables</a></li>
                                        <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
                                        <li><a class="dropdown-item" href="agent.html">Meet Our Team</a></li>
                                        <li><a class="dropdown-item" href="faq.html">Faqs</a></li>
                                        <li><a class="dropdown-item" href="typography.html">Typography</a></li>
                                        <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
                                        <li><a class="dropdown-item" href="pages-404.html">404 Page</a></li>
                                    </ul>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- main header end -->
    <!-- Sub banner start -->
    <div class="sub-banner">
        <div class="container">
            <div class="breadcrumb-area">
                <h1>About Us</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Sub banner end -->
    <!-- About info start -->
    <div class="about-info content-area-11">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="about-photo">
                        <img src="~/assets/img/tour/Du Lich.jpg" alt="tours" class="img-fluid">
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="about-text">
                        <h3>Our Awesome Story</h3>
                        <p>A story</p>
                        <a href="#" class="btn btn-theme">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About info end -->
    <!-- Counters start -->
    <div class="counters content-area-12">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="media counter-box">
                        <div class="icon">
                            <i class="flaticon-value"></i>
                        </div>
                        <div class="media-body align-self-center">
                            <h1 class="counter">500</h1>
                            <h5>Customers</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="media counter-box">
                        <div class="icon">
                            <i class="flaticon-plane"></i>
                        </div>
                        <div class="media-body align-self-center">
                            <h1 class="counter">470</h1>
                            <h5>Destinations</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="media counter-box">
                        <div class="icon">
                            <i class="flaticon-journey"></i>
                        </div>
                        <div class="media-body align-self-center">
                            <h1 class="counter">254</h1>
                            <h5>Tours</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="media counter-box">
                        <div class="icon">
                            <i class="flaticon-train"></i>
                        </div>
                        <div class="media-body align-self-center">
                            <h1 class="counter">94</h1>
                            <h5>Tour types</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counters end -->
    <!-- Travel Reviews 2 start -->
    <div class="travel-reviews-2 content-area-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="travel-reviews-inner">
                        <div class="main-title">
                            <h1><span class="border2"></span> Travel Reviews <span class="border2"></span></h1>
                            <p>The customer is very important, the customer will be followed by the customer.</p>
                        </div>
                        <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators3" data-slide-to="1" class=""></li>
                                <li data-target="#carouselExampleIndicators3" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="review-item media">
                                        <a class="user-profile" href="#">
                                            <img src="~/assets/img/avatar/Lam.jpg" alt="avater">
                                        </a>
                                        <div class="media-body align-self-center">
                                            <h5>
                                                <a href="#">Nguyen Tung Lam</a>
                                            </h5>
                                            <h6>Restaurant Owner</h6>
                                            <p>The customer is very important.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="review-item media">
                                        <a class="user-profile" href="#">
                                            <img src="~/assets/img/avatar/HUNG.jpg" alt="avater">
                                        </a>
                                        <div class="media-body align-self-center">
                                            <h5>
                                                <a href="#">Do Quang Hung</a>
                                            </h5>
                                            <h6>Web Developer</h6>
                                            <p>The customer is very important.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="review-item media">
                                        <a class="user-profile" href="#">
                                            <img src="~/assets/img/avatar/ATT.jpg" alt="avater">
                                        </a>
                                        <div class="media-body align-self-center">
                                            <h5>
                                                <a href="#">An Thanh Tu</a>
                                            </h5>
                                            <h6>Office Manager</h6>
                                            <p>The customer is very important.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Travel Reviews 2 end -->
    <!-- agent start -->
    <div class="agent content-area-2">
        <div class="container">
            <div class="main-title">
                <h1><span class="border2"></span> Meet Our Team <span class="border2"></span></h1>
                <p>Our motto is: customers are important.</p>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="agent-2">
                        <div class="photo">
                            <a href="#">
                                <img src="~/assets/img/avatar/Quang Hung.jpg" alt="agent" class="img-fluid">
                            </a>
                            <ul class="social-list clearfix">
                                <li><a href="#" class="facebook-color"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-color"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-color"><i class="fa fa-google"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">
                            <h5><a href="#">Do Quang Hung</a></h5>
                            <p>Web Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="agent-2">
                        <div class="photo">
                            <a href="#">
                                <img src="~/assets/img/avatar/Khong.jpg" alt="agent" class="img-fluid">
                            </a>
                            <ul class="social-list clearfix">
                                <li><a href="#" class="facebook-color"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-color"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-color"><i class="fa fa-google"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">
                            <h5><a href="#">Khong Phuong Thao</a></h5>
                            <p>Creative Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="agent-2">
                        <div class="photo">
                            <a href="#">
                                <img src="~/assets/img/avatar/Tu.jpg" alt="agent" class="img-fluid">
                            </a>
                            <ul class="social-list clearfix">
                                <li><a href="#" class="facebook-color"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-color"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-color"><i class="fa fa-google"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">
                            <h5><a href="#">An Thanh Tu</a></h5>
                            <p>Office Manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="agent-2">
                        <div class="photo">
                            <a href="#">
                                <img src="~/assets/img/avatar/Linh Phuong.jpg" alt="agent" class="img-fluid">
                            </a>
                            <ul class="social-list clearfix">
                                <li><a href="#" class="facebook-color"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-color"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-color"><i class="fa fa-google"></i></a></li>
                            </ul>
                        </div>
                        <div class="details">
                            <h5><a href="#">Hoang Linh Phuong</a></h5>
                            <p>Support Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- agent end -->
    <!-- partner start -->
    <div class="container partner">
        <div class="main-title">
            <h1>Partners</h1>
        </div>
        <div class="row">
            <div class="multi-carousel" data-items="1,3,5,6" data-slide="1" id="multiCarousel" data-interval="1000">
                <div class="multi-carousel-inner">
                    <div class="item">
                        <div class="pad15">
                            <img src="~/assets/img/brands/brand-1.png" alt="brand">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/assets/img/brands/brand-2.png" alt="brand">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/assets/img/brands/brand-3.png" alt="brand">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/assets/img/brands/brand-4.png" alt="brand">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/assets/img/brands/brand-5.png" alt="brand">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/assets/img/brands/brand-1.png" alt="brand">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/assets/img/brands/brand-2.png" alt="brand">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/assets/img/brands/brand-3.png" alt="brand">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/assets/img/brands/brand-4.png" alt="brand">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15">
                            <img src="~/assets/img/brands/brand-5.png" alt="brand">
                        </div>
                    </div>
                </div>
                <a class="multi-carousel-indicator leftLst" aria-hidden="true">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="multi-carousel-indicator rightLst" aria-hidden="true">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- partner end -->
</body>

