@{
    ViewBag.Title = "Home Page";
}

<!-- Banner start -->
<div class="banner">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active item-bg">
                <img class="d-block w-100 h-100" src="~/assets/img/banner/img-1.jpg" alt="banner">
                <div class="carousel-caption d-flex"></div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100" src="~/assets/img/banner/img-2.jpg" alt="banner">
                <div class="carousel-caption d-flex"></div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100" src="~/assets/img/banner/img-3.jpg" alt="banner">
                <div class="carousel-caption d-flex"></div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100" src="~/assets/img/banner/img-4.jpg" alt="banner">
                <div class="carousel-caption d-flex"></div>
            </div>
            <div class="carousel-item item-bg">
                <img class="d-block w-100 h-100" src="~/assets/img/banner/img-5.jpg" alt="banner">
            </div>
            <div class="carousel-caption banner-slider-inner d-flex text-center">
                <div class="carousel-content container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-inner-2">
                                <div class="container">
                                    <h1>The Best Vacation Among Nature</h1>
                                    <p>We always want to bring a great journey for you.</p>
                                    <form class="row inline-search-area isa-2 search-area" method="GET">
                                        <div class="search-col">
                                            <input type="text" name="hotel" class="form-control first-input" placeholder="Destination, City.....">
                                            <i class="flaticon-search icon-append"></i>
                                        </div>
                                        <div class="search-col">
                                            <input type="text" name="dates" placeholder="Check In" class="datetimes form-control" />
                                            <i class="flaticon-calendar icon-append"></i>
                                        </div>
                                        <div class="search-col">
                                            <input type="text" name="dates" placeholder="Check Out" class="datetimes form-control" />
                                            <i class="flaticon-calendar icon-append"></i>
                                        </div>
                                        <div class="search-col">
                                            <select class="selectpicker search-fields btn-block form-control bdr" name="travel-type">
                                                <option>Travel Type</option>
                                                <option>Adventure</option>
                                                <option>Escorted Tour</option>
                                                <option>River Cruise</option>
                                                <option>Hiking</option>
                                                <option>Suffing</option>
                                            </select>
                                            <i class="flaticon-download icon-append"></i>
                                        </div>
                                        <div class="search-col">
                                            <button type="submit" class="btn-theme btn-md btn-block">Search</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->
<!-- Destination strat -->
<div class="destination categories content-area-10">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1><span class="border2"></span> Top Destination <span class="border2"></span></h1>
            <p>Man cannot discover new oceans unless he has the courage to lose sight of the shore.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-sm-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-1-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h5 class="category-title">24 Tours</h5>
                                        <h4 class="category-subtitle"><i class="flaticon-pin"></i> Rome</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-5-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h5 class="category-title">77 Tours</h5>
                                        <h4 class="category-subtitle"><i class="flaticon-pin"></i> Thailand</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-pad">
                <div class="category">
                    <div class="category_bg_box category_long_bg cat-8-bg">
                        <div class="category-overlay">
                            <div class="category-content">
                                <h5 class="category-title">54 Tours</h5>
                                <h4 class="category-subtitle"><i class="flaticon-pin"></i> New york City</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-3-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h5 class="category-title">182 Tours</h5>
                                        <h4 class="category-subtitle"><i class="flaticon-pin"></i> Sydney</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-2-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h5 class="category-title">242Tours</h5>
                                        <h4 class="category-subtitle"><i class="flaticon-pin"></i> Paris</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Destination end -->
<!-- Trending tour start -->
<div class="trending-tour content-area-2 bg-grea">
    <div class="container">
        <div class="main-title">
            <h1><span class="border2"></span> Trending Tour <span class="border2"></span></h1>
            <p>We travel not to escape life, but for life not to escape us.</p>
        </div>
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item col-lg-4 col-sm-4">
                    <div class="tour-item">
                        <div class="item-thumbnail">
                            <a href="tours-detail.html" class="item-img">
                                <div class="plan-price"><sup>$</sup>750<sub>/ night</sub></div>
                                <img src="~/assets/img/tour/tour-1.jpg" alt="tours" class="img-fluid">
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tours-detail.html">Camping and  mountains</a>
                            </h1>
                            <div class="location">
                                <a href="tours-detail.html">
                                    <i class="flaticon-pin"></i> 2726 Shinn Street, New York
                                </a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="pull-left">
                                <i class="flaticon-calendar"></i>  5 Days / 4 Nights
                            </div>
                            <div class="pull-right">
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item col-lg-4 col-sm-4">
                    <div class="tour-item">
                        <div class="item-thumbnail">
                            <a href="tours-detail.html" class="item-img">
                                <div class="tag">Sale</div>
                                <div class="plan-price"><sup>$</sup>600<sub>/ night</sub></div>
                                <img src="~/assets/img/tour/tour-2.jpg" alt="tours" class="img-fluid">
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tours-detail.html">Best Switzerland Tour</a>
                            </h1>
                            <div class="location">
                                <a href="tours-detail.html">
                                    <i class="flaticon-pin"></i> 2726 Shinn Street, New York
                                </a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="pull-left">
                                <i class="flaticon-calendar"></i> 5 Days / 4 Nights
                            </div>
                            <div class="pull-right">
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item col-lg-4 col-sm-4">
                    <div class="tour-item">
                        <div class="item-thumbnail">
                            <a href="tours-detail.html" class="item-img">
                                <div class="tag">Sale</div>
                                <div class="plan-price"><sup>$</sup>850<sub>/ night</sub></div>
                                <img src="~/assets/img/tour/tour-3.jpg" alt="tours" class="img-fluid">
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tours-detail.html">Treasures of Thailand</a>
                            </h1>
                            <div class="location">
                                <a href="tours-detail.html">
                                    <i class="flaticon-pin"></i> 2726 Shinn Street, New York
                                </a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="pull-left">
                                <i class="flaticon-calendar"></i> 5 Days / 4 Nights
                            </div>
                            <div class="pull-right">
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item col-lg-4 col-sm-4">
                    <div class="tour-item">
                        <div class="item-thumbnail">
                            <a href="tours-detail.html" class="item-img">
                                <div class="plan-price"><sup>$</sup>730<sub>/ night</sub></div>
                                <img src="~/assets/img/tour/tour-4.jpg" alt="tours" class="img-fluid">
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tours-detail.html">Australia Sydney City</a>
                            </h1>
                            <div class="location">
                                <a href="tours-detail.html">
                                    <i class="flaticon-pin"></i> 2726 Shinn Street, New York
                                </a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="pull-left">
                                <i class="flaticon-calendar"></i>  5 Days / 4 Nights
                            </div>
                            <div class="pull-right">
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item col-lg-4 col-sm-4">
                    <div class="tour-item">
                        <div class="item-thumbnail">
                            <a href="tours-detail.html" class="item-img">
                                <div class="tag">Sale</div>
                                <div class="plan-price"><sup>$</sup>710<sub>/ night</sub></div>
                                <img src="~/assets/img/tour/tour-5.jpg" alt="tours" class="img-fluid">
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tours-detail.html">Discover Italian</a>
                            </h1>
                            <div class="location">
                                <a href="tours-detail.html">
                                    <i class="flaticon-pin"></i> 2726 Shinn Street, New York
                                </a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="pull-left">
                                <i class="flaticon-calendar"></i>  5 Days / 4 Nights
                            </div>
                            <div class="pull-right">
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item col-lg-4 col-sm-4">
                    <div class="tour-item">
                        <div class="item-thumbnail">
                            <a href="tours-detail.html" class="item-img">
                                <div class="tag">Sale</div>
                                <div class="plan-price"><sup>$</sup>940<sub>/ night</sub></div>
                                <img src="~/assets/img/tour/tour-6.jpg" alt="tours" class="img-fluid">
                            </a>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="tours-detail.html">Cuba Sailing Adventure</a>
                            </h1>
                            <div class="location">
                                <a href="tours-detail.html">
                                    <i class="flaticon-pin"></i> 2726 Shinn Street, New York
                                </a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="pull-left">
                                <i class="flaticon-calendar"></i>  5 Days / 4 Nights
                            </div>
                            <div class="pull-right">
                                <div class="ratings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slick-prev slick-arrow-buton">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="slick-next slick-arrow-buton">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>
<!-- Trending tour end -->
<!-- Counters start -->
<div class="counters">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="media counter-box">
                            <div class="icon">
                                <i class="flaticon-value"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h1 class="counter">500</h1>
                                <h5>Customers</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media counter-box">
                            <div class="icon">
                                <i class="flaticon-plane"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h1 class="counter">470</h1>
                                <h5>Destinations</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media counter-box">
                            <div class="icon">
                                <i class="flaticon-journey"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h1 class="counter">254</h1>
                                <h5>Tours</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="media counter-box">
                            <div class="icon">
                                <i class="flaticon-train"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <h1 class="counter">94</h1>
                                <h5>Tour types</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5">
                <div class="counters-text">
                    <h3>Counters</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                    <a href="#" class="btn btn-md btn-round btn-theme">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters end -->
<!-- services start -->
<div class="services content-area-2">
    <div class="container">
        <div class="main-title">
            <h1><span class="border2"></span> Why Choose Us <span class="border2"></span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="services-info-4">
                    <i class="flaticon-train"></i>
                    <h5>Passionate Travel</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-50">
                <div class="services-info-4">
                    <i class="flaticon-aircraft-1"></i>
                    <h5>Diverse Destinations</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services-info-4">
                    <i class="flaticon-money"></i>
                    <h5>Value for Money</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-50">
                <div class="services-info-4">
                    <i class="flaticon-camping-tent"></i>
                    <h5>Beautiful Places</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- services end -->
<!-- Travel Reviews 2 start -->
<div class="travel-reviews-2 content-area-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="travel-reviews-inner">
                    <div class="main-title">
                        <h1><span class="border2"></span> Travel Reviews <span class="border2"></span></h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.</p>
                    </div>
                    <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="1" class=""></li>
                            <li data-target="#carouselExampleIndicators3" data-slide-to="2" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="review-item media">
                                    <a class="user-profile" href="#">
                                        <img src="~/assets/img/avatar/avatar-2.jpg" alt="avater">
                                    </a>
                                    <div class="media-body align-self-center">
                                        <h5>
                                            <a href="#">Anne Brady</a>
                                        </h5>
                                        <h6>Restaurant Owner</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="review-item media">
                                    <a class="user-profile" href="#">
                                        <img src="~/assets/img/avatar/avatar.jpg" alt="avater">
                                    </a>
                                    <div class="media-body align-self-center">
                                        <h5>
                                            <a href="#">Eliane Perei</a>
                                        </h5>
                                        <h6>Web Developer</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="review-item media">
                                    <a class="user-profile" href="#">
                                        <img src="~/assets/img/avatar/avatar.jpg" alt="avater">
                                    </a>
                                    <div class="media-body align-self-center">
                                        <h5>
                                            <a href="#">Maria Blank</a>
                                        </h5>
                                        <h6>Office Manager</h6>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Travel Reviews 2 end -->
<!-- Blog start -->
<div class="blog content-area-2">
    <div class="container">
        <div class="main-title">
            <h1><span class="border2"></span> Latest Blogs <span class="border2"></span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque.</p>
        </div>
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="blog-item">
                        <div class="profile-user">
                            <img src="~/assets/img/avatar/avatar-3.jpg" alt="user">
                        </div>
                        <h5>By Christian Morris</h5>
                        <h3>
                            <a href="blog-detail.html">Secure Travel Tips</a>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown it to make</p>
                        <h5>January 07, 2022  <a href="blog-detail.html" class="b-btn float-right" tabindex="-1">Rea more...!</a></h5>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="blog-item">
                        <div class="profile-user">
                            <img src="~/assets/img/avatar/avatar.jpg" alt="user">
                        </div>
                        <h5>By Morris Christian</h5>
                        <h3>
                            <a href="blog-detail.html">Travel Insuranve Benefits</a>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown it to make</p>
                        <h5>August 04, 2019  <a href="blog-detail.html" class="b-btn float-right" tabindex="-1">Rea more...!</a></h5>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="blog-item">
                        <div class="profile-user">
                            <img src="~/assets/img/avatar/avatar-2.jpg" alt="user">
                        </div>
                        <h5>By Teseira</h5>
                        <h3>
                            <a href="blog-detail.html">7 Places to visit this winter</a>
                        </h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown it to make</p>
                        <h5>May 31, 2022<a href="blog-detail.html" class="b-btn float-right" tabindex="-1">Rea more...!</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog end -->
<!-- intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="contact.html" class="btn btn-md">let’s talk</a>
            </div>
        </div>
    </div>
</div>
<!-- intro section end -->