
@{
    ViewBag.Title = "Login";
}
@model TRAVEL.Models.TaiKhoan


<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- Bg img start -->
<div class="bg-img overview-bgi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-content-box">
                    <!-- details -->
                    <div class="details">
                        <!-- Name -->
                        <h3>Sign into your account</h3>
                        <!-- Form start -->
                        <form action="Login" method="POST">
                            <input type="text" name="ReturnUrl" style="display:none" value="@ViewBag.ReturnUrl" />
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="User Name">
                            </div>
                            <div class="form-group2">
                                <input type="Password" class="form-control" name="pass" placeholder="Password">
                            </div>
                            <div class="checkboxs form-group">
                                <div class="form-check checkbox-theme float-left">
                                    <input class="form-check-input" type="checkbox" value="" id="instant-book">
                                    <label class="form-check-label" for="instant-book">
                                        Remember me
                                    </label>
                                </div>
                                <a href="/Home/ForgotPassword" class="link-not-important pull-right">Forgot Password</a>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-color btn-md btn-block">login</button>
                                <span id="error" style="color:red;font-size:14px;display:none"></span>
                            </div>
                        </form>
                        <!-- Form end -->
                    </div>
                    <!-- Sub Footer -->
                    <div class="sub-footer">
                        <span>Don't have an account? <a href="Register">Register here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bg img end -->
<!-- Full page search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm btn-color">Search</button>
    </form>
</div>
@section Script {
    <script>
        $(document).ready(function () {
            var er = "@ViewBag.error";
            if (er) {
                document.getElementById("error").innerHTML = er;
                document.getElementById("error").setAttribute("style", "color:red;font-size:18px;font-weight:600;display:block");
            }
        });
    </script>
}


