
@{
    ViewBag.Title = "Permission";
}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Your account is not authorized</h1>
        </div>
    </div>
</div>
<!-- Sub banner end -->