
@{
    ViewBag.Title = "Register";
}

@model TRAVEL.Models.TaiKhoan

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- Bg img start -->
<div class="bg-img overview-bgi">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-content-box">
                    <!-- Logo -->
                    <a href="index.html">
                        <img src="~/assets/img/logos/logo.png" class="cm-logo" alt="logo">
                    </a>
                    <!-- details -->
                    <!-- details -->
                    <div class="details">
                        <!-- Name -->
                        <h3>Create an account</h3>
                        <!-- Form start -->
                        <form action="Register" method="POST" onsubmit="return verifyPassword()">
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" placeholder="User Name" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email Address" required>
                            </div>
                            <div class="form-group">
                                <input type="Password" id="pass" class="form-control" name="pass" placeholder="Password" required>
                                <span id="message" style="color:red;font-size:14px;display:none"></span>
                            </div>
                            <div class="form-group">
                                <input type="password" id="confirm-pass" name="confirm_Password" class="form-control" placeholder="Confirm Password" required>
                                <span id="message-confirm" style="color:red;font-size:14px;display:none"></span>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-color btn-md btn-block">Signup</button>
                            </div>
                        </form>
                        <!-- Form end -->
                    </div>
                    <!-- Sub Footer -->
                    <div class="sub-footer">
                        <span>Already a member? <a href="Login">Login here</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bg img end -->
<!-- Full page search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm btn-color">Search</button>
    </form>
</div>
@section Script {
    <script>

        function verifyPassword() {
            var pw = document.getElementById("pass").value;
            var pw_confirm = document.getElementById("confirm-pass").value;


            //minimum password length validation
            if (pw.length < 8) {
                document.getElementById("message").innerHTML = "**Password length must be atleast 8 characters";
                document.getElementById("message").setAttribute("style", "color:red;font-size:14px;display:block");
                return false;
            } else {
                document.getElementById("message").setAttribute("style", "color:red;font-size:14px;display:none");
            }

            //maximum length of password validation
            if (pw.length > 15) {
                document.getElementById("message").innerHTML = "**Password length must not exceed 15 characters";
                document.getElementById("message").setAttribute("style", "color:red;font-size:14px;display:block");
                return false;
            } else {
                document.getElementById("message").setAttribute("style", "color:red;font-size:14px;display:none");
            }

            // Confirm
            if (pw != pw_confirm) {
                document.getElementById("message-confirm").innerHTML = "**Confirm Password is not True";
                document.getElementById("message-confirm").setAttribute("style", "color:red;font-size:14px;display:block");
                return false;
            }

            return true;
        }
    </script>
}

