
@{
    ViewBag.Title = "bookTour_Success";
}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1 style="color:chartreuse">You have successfully booked your Tour.</h1>
            <h2 style="color:gold">We will contact you via phone number 0999 as soon as possible in the next 12 hours</h2>
        </div>
    </div>
</div>
<!-- Sub banner end -->
