@{
    ViewData["sub_link"] = "Blog Post";
}
@Html.Partial("_banner")
<!-- Blog section start -->
<div class="blog-section content-area-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item-2">
                    <div class="blog-photo clip-home">
                        <img src="~/assets/img/blog/img-1.jpg" alt="blog" class="img-fluid">
                        <div class="date-box clip-home">
                            <span>27</span>Apr
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta">
                            <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                            <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                            <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                        </div>
                        <h3>
                            <a href="blog-detail.html">Budget trips for winter break</a>
                        </h3>
                        <p>Vietnam is one of our favourite countries, packed with history, stunning landscapes, cultural highlights, and amazing food. It’s one of the most exciting destinations in South East Asia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item-2">
                    <div class="blog-photo clip-home">
                        <img src="~/assets/img/blog/img-2.jpg" alt="blog" class="img-fluid">
                        <div class="date-box clip-home">
                            <span>14</span>Jun
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta">
                            <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                            <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                            <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                        </div>
                        <h3>
                            <a href="blog-detail.html">7 Places to visit this winter</a>
                        </h3>
                        <p>Vietnam is one of our favourite countries, packed with history, stunning landscapes, cultural highlights, and amazing food. It’s one of the most exciting destinations in South East Asia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item-2">
                    <div class="blog-photo clip-home">
                        <img src="~/assets/img/blog/img-3.jpg" alt="blog" class="img-fluid">
                        <div class="date-box clip-home">
                            <span>16</span>Aug
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta">
                            <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                            <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                            <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                        </div>
                        <h3>
                            <a href="blog-detail.html">14 Best Tour Place in World</a>
                        </h3>
                        <p>Vietnam is one of our favourite countries, packed with history, stunning landscapes, cultural highlights, and amazing food. It’s one of the most exciting destinations in South East Asia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item-2">
                    <div class="blog-photo clip-home">
                        <img src="~/assets/img/blog/img-3.jpg" alt="blog" class="img-fluid">
                        <div class="date-box clip-home">
                            <span>16</span>Aug
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta">
                            <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                            <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                            <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                        </div>
                        <h3>
                            <a href="blog-detail.html">14 Best Tour Place in World</a>
                        </h3>
                        <p>Vietnam is one of our favourite countries, packed with history, stunning landscapes, cultural highlights, and amazing food. It’s one of the most exciting destinations in South East Asia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item-2">
                    <div class="blog-photo clip-home">
                        <img src="~/assets/img/blog/img-1.jpg" alt="blog" class="img-fluid">
                        <div class="date-box clip-home">
                            <span>27</span>Apr
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta">
                            <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                            <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                            <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                        </div>
                        <h3>
                            <a href="blog-detail.html">Budget trips for winter break</a>
                        </h3>
                        <p>Vietnam is one of our favourite countries, packed with history, stunning landscapes, cultural highlights, and amazing food. It’s one of the most exciting destinations in South East Asia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item-2">
                    <div class="blog-photo clip-home">
                        <img src="~/assets/img/blog/img-2.jpg" alt="blog" class="img-fluid">
                        <div class="date-box clip-home">
                            <span>14</span>Jun
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta">
                            <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                            <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                            <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                        </div>
                        <h3>
                            <a href="blog-detail.html">7 Places to visit this winter</a>
                        </h3>
                        <p>Vietnam is one of our favourite countries, packed with history, stunning landscapes, cultural highlights, and amazing food. It’s one of the most exciting destinations in South East Asia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item-2">
                    <div class="blog-photo clip-home">
                        <img src="~/assets/img/blog/img-2.jpg" alt="blog" class="img-fluid">
                        <div class="date-box clip-home">
                            <span>14</span>Jun
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta">
                            <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                            <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                            <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                        </div>
                        <h3>
                            <a href="blog-detail.html">7 Places to visit this winter</a>
                        </h3>
                        <p>Vietnam is one of our favourite countries, packed with history, stunning landscapes, cultural highlights, and amazing food. It’s one of the most exciting destinations in South East Asia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item-2">
                    <div class="blog-photo clip-home">
                        <img src="~/assets/img/blog/img-3.jpg" alt="blog" class="img-fluid">
                        <div class="date-box clip-home">
                            <span>16</span>Aug
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta">
                            <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                            <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                            <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                        </div>
                        <h3>
                            <a href="blog-detail.html">14 Best Tour Place in World</a>
                        </h3>
                        <p>Vietnam is one of our favourite countries, packed with history, stunning landscapes, cultural highlights, and amazing food. It’s one of the most exciting destinations in South East Asia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-item-2">
                    <div class="blog-photo clip-home">
                        <img src="~/assets/img/blog/img-1.jpg" alt="blog" class="img-fluid">
                        <div class="date-box clip-home">
                            <span>27</span>Apr
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta">
                            <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                            <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                            <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                        </div>
                        <h3>
                            <a href="blog-detail.html">Budget trips for winter break</a>
                        </h3>
                        <p>Vietnam is one of our favourite countries, packed with history, stunning landscapes, cultural highlights, and amazing food. It’s one of the most exciting destinations in South East Asia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="pagination-box">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog section end -->