@using TRAVEL.Models;

@{ 
     ViewBag.Title = "BlogDetail";
     ViewData["sub_link"] = "Blog Detail";
     }
@Html.Partial("_banner")

<!-- Blog section start -->
<div class="blog-section content-area-2">
     <div class="container">
          <div class="row">
               <div class="col-lg-8 col-md-12">
                    <!-- Blog item 2 start -->
                    <div class="blog-item-2 mb-40">
                         <div class="blog-photo clip-home">
                              <img src="~/assets/img/blog/img-2.jpg" alt="blog" class="img-fluid">
                              <div class="date-box clip-home">
                                   <span>27</span>Apr
                              </div>
                         </div>
                         <div class="detail">
                              <div class="post-meta">
                                   <span><a href="#"><i class="flaticon-user"></i>Amdin</a></span>
                                   <span><a href="#"><i class="flaticon-comment"></i>27</a></span>
                                   <span><a href="#"><i class="fa fa-heart-o"></i>27</a></span>
                              </div>
                              <h3>
                                   <a href="blog-detail.html">Budget trips for winter break</a>
                              </h3>
                              <p>
                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.But also the leap into electronic typesetting,
                                   remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.But also the leap into electronic typesetting,
                              </p>
                              <P>
                                   Fusce not before but lorem rutrum feugiat. The vestibulum pellentesque, pure as the pursuit of dignity, there was no
                                   purity pure, so that the result was not the same. Morbi Lake mass, euismod as a poor employee, sad members. It should be
                                   perfect for me to be a wise employee at the time and not in the mass. Fusce not before but lorem rutrum feugiat.
                              </P>
                              <br>
                              <blockquote class="blockquote">
                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                                   <footer>
                                        Someone famous in
                                        <cite>
                                             Source Title
                                        </cite>
                                   </footer>
                              </blockquote>
                              <p></p>
                              <p>
                                   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.But also the leap into electronic typesetting,
                                   remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.But also the leap into electronic typesetting,
                              </p>
                              <br>
                              <div class="row clearfix tags-socal-box">
                                   <div class="col-lg-7 col-md-7 col-sm-12">
                                        <div class="tags">
                                             <h2>Tags</h2>
                                             <ul>
                                                  <li><a href="#">Image</a></li>
                                                  <li><a href="#">Features</a></li>
                                                  <li><a href="#">Gallery</a></li>
                                                  <li><a href="#">News</a></li>
                                             </ul>
                                        </div>
                                   </div>
                                   <div class="col-lg-5 col-md-5 col-sm-12">
                                        <div class="social-list">
                                             <h2>Share</h2>
                                             <ul>
                                                  <li>
                                                       <a href="#" class="facebook">
                                                            <i class="fa fa-facebook"></i>
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="#" class="twitter">
                                                            <i class="fa fa-twitter"></i>
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="#" class="google">
                                                            <i class="fa fa-google"></i>
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="#" class="linkedin">
                                                            <i class="fa fa-linkedin"></i>
                                                       </a>
                                                  </li>
                                                  <li>
                                                       <a href="#" class="rss">
                                                            <i class="fa fa-rss"></i>
                                                       </a>
                                                  </li>
                                             </ul>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <!-- Comments section start -->
                    <div class="comments-section mb-40">
                         <ul class="comments">
                              <li>
                                   <div class="comment">
                                        <div class="comment-author">
                                             <a href="#">
                                                  <img src="~/assets/img/avatar/avatar.jpg" alt="blog">
                                             </a>
                                        </div>
                                        <div class="comment-content">
                                             <div class="comment-meta">
                                                  <h3>
                                                       Maikel Alisa
                                                  </h3>
                                                  <div class="comment-meta">
                                                       8:42 PM 1/28/2022<a href="#">Reply</a>
                                                  </div>
                                             </div>
                                             <p>It's great !</p>
                                        </div>
                                   </div>
                                   <ul>
                                        <li>
                                             <div class="comment">
                                                  <div class="comment-author">
                                                       <a href="#">
                                                            <img src="~/assets/img/avatar/avatar-2.jpg" alt="blog">
                                                       </a>
                                                  </div>
                                                  <div class="comment-content">
                                                       <div class="comment-meta">
                                                            <h3>
                                                                 Brady Anne
                                                            </h3>
                                                            <div class="comment-meta">
                                                                 8:42 PM 1/28/2022<a href="#">Reply</a>
                                                            </div>
                                                       </div>
                                                       <p>I agree with you.</p>
                                                  </div>
                                             </div>
                                        </li>
                                   </ul>
                              </li>
                              <li>
                                   <div class="comment mb-0">
                                        <div class="comment-author">
                                             <a href="#">
                                                  <img src="~/assets/img/avatar/avatar-3.jpg" alt="blog">
                                             </a>
                                        </div>
                                        <div class="comment-content mrg-bdr">
                                             <div class="comment-meta">
                                                  <h3>
                                                       Anne Brady
                                                  </h3>
                                                  <div class="comment-meta">
                                                       8:42 PM 1/28/2022<a href="#">Reply</a>
                                                  </div>
                                             </div>
                                             <p>I look forward to having a next trip</p>
                                        </div>
                                   </div>
                              </li>
                         </ul>
                    </div>
                    <!-- Contact-1 start -->
                    <div class="contact-1 clearfix">
                         <h2>Leave a Comment</h2>
                         <div class="container">
                              <div class="row">
                                   <form action="#" method="GET" enctype="multipart/form-data">
                                        <div class="row">
                                             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                  <div class="form-group name">
                                                       <input type="text" name="name" class="form-control" placeholder="Name">
                                                  </div>
                                             </div>
                                             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                  <div class="form-group email">
                                                       <input type="email" name="email" class="form-control" placeholder="Email">
                                                  </div>
                                             </div>
                                             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                  <div class="form-group subject">
                                                       <input type="text" name="subject" class="form-control" placeholder="Subject">
                                                  </div>
                                             </div>
                                             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                  <div class="form-group number">
                                                       <input type="text" name="phone" class="form-control" placeholder="Number">
                                                  </div>
                                             </div>
                                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                  <div class="form-group message">
                                                       <textarea class="form-control" name="message" placeholder="Write message"></textarea>
                                                  </div>
                                             </div>
                                             <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                                  <div class="send-btn mb-30">
                                                       <button type="submit" class="btn btn-color btn-md btn-message">Comment</button>
                                                  </div>
                                             </div>
                                        </div>
                                   </form>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-lg-4 col-md-12">
                    <div class="sidebar">
                         <!-- Search box start -->
                         <div class="widget search-box">
                              <h5 class="sidebar-title">Search Blog</h5>
                              <form class="form-search" method="GET">
                                   <input type="text" class="form-control" placeholder="Search">
                                   <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                              </form>
                         </div>
                         <!-- Recent posts start -->
                         <div class="widget recent-posts">
                              <h4 class="sidebar-title">Recent Posts</h4>
                              <div class="media mb-4">
                                   <a class="pr-3" href="tours-detail.html">
                                        <img src="~/assets/img/sub-tours/sub-tours.jpg" alt="sub-tours">
                                   </a>
                                   <div class="media-body align-self-center">
                                        <h5>
                                             <a href="tours-detail.html">Australia Sydney City</a>
                                        </h5>
                                        <div class="listing-post-meta">
                                             Oct 27, 2021 | <a href="#">Tour</a>
                                        </div>
                                   </div>
                              </div>
                              <div class="media mb-4">
                                   <a class="pr-3" href="tours-detail.html">
                                        <img src="~/assets/img/sub-tours/sub-tours-2.jpg" alt="sub-tours">
                                   </a>
                                   <div class="media-body align-self-center">
                                        <h5>
                                             <a href="tours-detail.html">Camping and  mountains</a>
                                        </h5>
                                        <div class="listing-post-meta">
                                             Nov 23, 2021 | <a href="#">Tour</a>
                                        </div>
                                   </div>
                              </div>
                              <div class="media">
                                   <a class="pr-3" href="tours-detail.html">
                                        <img src="~/assets/img/sub-tours/sub-tours-3.jpg" alt="sub-tours">
                                   </a>
                                   <div class="media-body align-self-center">
                                        <h5>
                                             <a href="tours-detail.html">Best Switzerland Tour</a>
                                        </h5>
                                        <div class="listing-post-meta">
                                             Jan 17, 2022 | <a href="#">Tour</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <!-- Categories start -->
                         <div class="widget categories">
                              <h5 class="sidebar-title">Categories</h5>
                              <ul>
                                   <li><a href="#">All<span>(12)</span></a></li>
                                   <li><a href="#">News<span>(8)</span></a></li>
                                   <li><a href="#">Blog<span>(5)</span></a></li>
                                   <li><a href="#">Travel & Tour<span>(63)</span></a></li>
                                   <li><a href="#">Tips<span>(23)</span></a></li>
                                   <li><a href="#">Other<span>(7)</span></a></li>
                              </ul>
                         </div>
                         <!-- Social list start -->
                         <div class="social-list widget clearfix">
                              <h5 class="sidebar-title">Follow Us</h5>
                              <ul>
                                   <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                   <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                   <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                   <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                   <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                              </ul>
                         </div>
                         <!-- Tags start -->
                         <div class="widget tags clearfix">
                              <h5 class="sidebar-title">Tags</h5>
                              <ul class="tags">
                                   <li><a href="#">News</a></li>
                                   <li><a href="#">Tips</a></li>
                                   <li><a href="#">Traveling</a></li>
                                   <li><a href="#">Ideas</a></li>
                                   <li><a href="#">Theme</a></li>
                                   <li><a href="#">City Guide</a></li>
                                   <li><a href="#">Events</a></li>
                                   <li><a href="#">Outdoor</a></li>
                                   <li><a href="#">UI-UX</a></li>
                              </ul>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- Blog section end -->
